/Api/packages
/Api/DataProvider/bin
/Api/DataProvider/obj
/Api/WebApiBook/bin
/Api/WebApiBook/obj
/Api/WebApiProcess/bin
/Api/WebApiProcess/obj
/Api/BaseWeb/bin
/Api/BaseWeb/obj
/Api/WebApiAuthentication/bin
/Api/WebApiAuthentication/obj
